body {
    background-image: url("../images/family-cooking.jpg");
    background-size: 100%;

 }

.container {
    margin-left: 20px;
    margin-right: 20px;
	width: auto;

    padding-bottom: 30px;
}

#header {
    margin-left: 35px;
    margin-right: 35px;        

    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #C8D6E3;
    border: 2px solid black;
}

h1 {
    display: inline;
}

hr {
    border-top: 1px solid black;
    margin-top: 5px;
        
}

#headerParagraph{
    display: inline;
    margin-left: 30px;
}

/* 'scroll' in the spinner is always visible */
input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}

.btn-danger {
    color: black;
    background-color: #FF944D;
    border-color: black;
    box-shadow: 2px 3px 0 0 black;
    border-radius: 2px;
}

/*-----------FIRST PAGE-----------*/

div #firstPage {

}

#serviceDescription {
    background: rgba(255, 255, 255, 0.7);
    width: 40%;
    margin-top: 250px;
    padding: 20px;
}

/*---------END FIRST PAGE---------*/


/*---------START mydinnerView---------*/

div #myDinnerView {
    display: none;

    border: 2px solid black;
    padding: 20px;
    width: 20%;
    float: left;

    min-height: 500px;
}

#doubleBorderRow {

    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    background-color: #C8D6E3;
}

.alignRight {
    text-align: right;
}

#addedDishes {
    width: 100%;

}

#myDinnerView-Bottom {
    text-align: center;
}

#confirmDinner{

}

#spinner {
    margin-left: 12px;
}

/*---------END myDinnerView---------*/


/*---------START selectDishView---------*/

#selectDishView{
	display: none;

    border: 2px solid black;
    padding: 20px;
    margin-left: 20%;
    height: 150px;
    background-color: #FFCC80;

}

/*---------END selectDishView---------*/


/*---------START distListView---------*/

#dishListView {
	display: none;

    margin-left: 20%;
    padding: 20px;

    height: 350px;
    
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;

    text-align: center;
    border: 2px solid black;
}

#dishListTable {
	margin-left: auto;
	margin-right: auto;
     
}

.dishImages {
    width: 140px;
    height: 120px;
}

.dishName {
    background-color: #C8D6E3;
	padding-top: 5px;
	padding-bottom: 5px;
}

.dishInTable {
    float: left;
    table-layout: fixed;
    width: 144px;

	margin-left: 20px;
	margin-right: 20px;
    margin-top: 35px
    
}

.dishImageAndText {
    border: 1px solid black;
    width: 140px
}

td .dishDescription {
    text-align: left;
    padding-top: 20px;

    width: 50px;
    height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

/*---------END distListView---------*/

/*---------START dishDetailsView---------*/
#dishDetailsView {
    display: none;
    height: 500px;

    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;

    float: left;
    width: 80%;

    border: 1px solid black;
}

#dishDetailsView-Overview { 
    padding-left: 40px;
    padding-right: 40px;
    float: left;
    width: 60%;
    border: 1px solid black;
    background-color: white;
}

#dishDetailsView-Ingredients{


    border: 1px solid black;
    background-color: #FFCC80;

}


#dishDetailsView-Dish {
    height: 270px;    
    width: 400px;
}

#dishDetailsView-Ingredients-Table td{
    height: 2px
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 20px;

}

.noPaddingBottom {
    padding-bottom: 0px !important;
}


/*---------END dishDetailsView---------*/


/*------START dinnerOverViewTop-----*/
#dinnerOverviewView-top {
    display: none;

	padding-left: 35px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 50px;
	background-color: #FFCC80;


}

#dinnerOverviewView-myDinnerText {
	float: left;
	font-size: 20px;

}

#dinnerOverviewView-goBack {
	float: right;
}


/*-------END dinnerOverViewTop------*/

/*--------START overviewView--------*/
#dinnerOverviewView {
	display: none;

	width: 100%;
}

#dinnerOverviewView-dishes {
	text-align: center;
}

#dinnerOverviewView-dishesTable {
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
}

.dishContainer {
	float:left;
	margin-left: 20px;
	margin-right: 20px;
}

.dishPrice {
	color: red;
	text-align: right;
}

#total-price-td {
	border-left: 1px solid black;
	padding-left: 20px;
	text-align: left;
}

#filler1 {
	border-left: 1px solid black;
	height: 120px;
}

#filler2 {
	border-left: 1px solid black;
	height: 30px;
	text-align: left;
	padding-left: 20px;
}

#dinnerOverviewView-button {
	padding-left: 30px;
	padding-right: 30px;
}


/*---------END overviewView---------*/

/*-------START preparationView------*/
#dinnerPreparationView {
	display: none;

}

.preparationViewText{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;
}

/*--------END preparationView-------*/
